:root {
    --main-background-color: #FFFFFF;
    --main-text-color: #B9C0C1;
    --title-color: #001F29;
    --first-accent-color: #F75532;
    --second-accent-color: #FE4610;
    --picture-background-color: #FFE1D8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: var(--main-text-color);
    background-color: var(--main-background-color);

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    height: 48px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: var(--main-background-color);
    background-color: var(--second-accent-color);    
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
}

.button:focus,
.button:hover {
    color: var(--first-accent-color);
    background-color: var(--main-background-color);
    border: 1px solid var(--first-accent-color);
    transition: all 0.5s;
}

/* ----------------------------------------------- */

.header {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 24px;
    padding: 0 15px;
    line-height: 48px;
}

.header-logo,
.schedule-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--first-accent-color);
}

.header-logo span {
    color: var(--title-color);
}

.header-list {
    display: flex;
    width: 363px;
    justify-content: space-between;
    padding: 0 40px 0 541px;
}

.header-item-link {
    font-size: 16px;
    color: var(--title-color);
    transition: all 0.5s;
}

.header-item-link:focus,
.header-item-link:hover {
    color: var(--first-accent-color);
    transition: all 0.5s;
}

.header-button {
    width: 137px;
}

/* ----------------------------------------------- */

.main {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}
.hero-text-container {
    width: 410px;
    margin-top: 100px;
}

.hero-title {
    padding-bottom: 16px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.33;
    color: var(--title-color);
}

.hero-text {
    padding-bottom: 32px;
    line-height: 2.29;
}

.first-hero-button {
    width: 168px;
    margin-right: 16px;
}

.second-hero-button {
    width: 142px;
    margin-left: 0;
    color: var(--first-accent-color);
    background-color: var(--main-background-color);
    border: 1px solid var(--first-accent-color);
    transition: all 0.5s;
}

.second-hero-button:focus,
.second-hero-button:hover {   
    color: var(--main-background-color);
    background-color: var(--second-accent-color); 
    transition: all 0.5s;
}

.first-hero-image-container {
    position: relative;
    width: 571px;
    height: 382px;
    margin-top: 81px;
    margin-bottom: 46px;
}

.first-image::before,
.second-image::before,
.third-image::before,
.fourth-image::before,
.fifth-image::before {
    position: absolute;
    content: "";
    width: 177px;
    height: 181px;
    background-color: var(--picture-background-color);
    border-radius: 10px;
}

.second-image::before {
    left: 199px;
}

.third-image::before {
    top: 201px;
}

.fourth-image::before {
    top: 201px;
    left: 199px;
}

.fifth-image::before {
    left: 398px;
    height: 382px;
}

.second-hero-container {
    display: flex;
    justify-content: space-between;
}

.first-hero-list {
    display: flex;
    width: 767px;
    justify-content: space-between;
    align-items: flex-end;

}

.first-hero-item {
    height: 88px;
    width: 245px;
    padding-top: 30px;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    transition: all 0.5s;
}
.first-hero-item:focus,
.first-hero-item:hover {
    height: 155px;
    transition: all 0.5s;
}
.first-hero-item:focus, .first-hero-item-button,
.first-hero-item:hover .first-hero-item-button{
    display: block;
    transition: all 0.5s;
}

.first-hero-item-title {
    padding-left: 111px;
    font-weight: 500;
    font-size: 18px;
    color: var(--title-color);
}

.first-hero-item-text {
    width: 101px;
    padding: 10px 0 24px 111px;
    font-size: 12px;
    line-height: 1.16;
}

.first-hero-item-button {
    display: none;
    width: 123px;
    height: 40px;
    margin-left: 52px;
    font-size: 14px;
    color: var(--first-accent-color);
    background-color: var(--main-background-color);
    border: 1px solid var(--first-accent-color);
    border-radius: 30px;
}

.first-hero-item-button:focus,
.first-hero-item-button:hover {
    color: var(--main-background-color);
    background-color: var(--second-accent-color); 
    transition: all 0.5s;   
}

.second-hero-image-container {
    position: relative;
    width: 100px;
    height: 70px;
    margin-top: 78px;
    margin-right: 35px;
}

.one-image::before,
.two-image::before,
.three-image::before,
.four-image::before,
.five-image::before,
.six-image::before,
.seven-image::before,
.eigth-image::before,
.nine-image::before,
.ten-image::before,
.eleven-image::before,
.twelve-image::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--picture-background-color);
    border-radius: 10px;
}

.two-image::before {
    left: 30px;
}

.three-image::before {
    left: 60px;
}

.four-image::before {
    left: 90px;
}

.five-image::before {
    top: 30px;
}

.six-image::before {
    top: 30px;
    left: 30px;
}

.seven-image::before {
    top: 30px;
    left: 60px;
}

.eigth-image::before {
    top: 30px;
    left: 90px;
}

.nine-image::before {
    top: 60px;
}

.ten-image::before {
    top: 60px;
    left: 30px;
}

.eleven-image::before {
    top: 60px;
    left: 60px;
}

.twelve-image::before {
    top: 60px;
    left: 90px;
}

.second-hero-list {
    margin-top: 79px;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.second-hero-text {
    font-family:'Mulish', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
}

/* ----------------------------------------------- */

.schedule-title {
    margin-top: 80px;
    margin-bottom: 30px;
    color: var(--title-color);
}

.schedule-block {
    /* position: relative; */
    display: flex;
    height: 140px;
    padding: 0 24px;
    justify-content: space-between;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    align-items: center;
}

.schedule-list {
    display: flex;
    gap: 57px;
}

.schedule-item {
    position: relative;
}

.schedule-item-block {
    align-items: flex-start;
    display: flex;
}

.schedule-item-icon {
    padding-top: 2px;    
    padding-left: 13px;
}

.background-icon::before,
.background-icon::before,
.background-icon::before {
    position: absolute;
    top: -7px;
    left: 0;
    content: "";
    width: 40px;
    height: 40px;
    background-color: var(--picture-background-color);
    border-radius: 10px;
    z-index: -1;
}

.schedule-item-title {
    padding: 0 0 14px 29px;
    font-size: 18px;
    color: var(--title-color);
}

.schedule-item-input {
    width: 225px;
    height: 48px;
    margin-left: 56px;
    padding-left: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: var(--title-color);
    background-color: #fafafa;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}

.schedule-item-input::placeholder {
    color: #ABADAD;
}

.schedule-button {
    width: 137px;
}
